@font-face {
    font-family: 'roboto';
    src: url('/font/roboto-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('/font/roboto-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('/font/roboto-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('/font/roboto-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('/font/roboto-thin-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;

}



@font-face{
    font-family: "mario";
    src: url('/font/supermario256-webfont.woff2') format('woff2');
    font-style: normal;
}

@font-face{
    font-family:"proxima soft";
    src: url(/font/ProximaSoft-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "proxima soft";
    src: url(/font/ProximaSoft-Medium.woff2);
    font-weight: 500;
}