:root{
    --charecter-color: #CAE9EA;
    --gradient-right: linear-gradient(to right, #CAE9EA, #208C8C);
    --gradient-left: linear-gradient(to left, #CAE9EA,#208C8C);
    --secondary-color: #1E3A8A ;
    --background-color: #100F0F;
    --background-color2: black;
    --border-color-cards: rgba(71,71,71,50%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.main-head{
    color: var(--charecter-color);
    font-weight: 500;
    font-size: 56px;
    letter-spacing: 4px;
}
#display{
    color: var(--charecter-color);
    height: 40px;
    width: 332px;
    font-weight: 300;
    font-size: 24px;
}
.game-board{
    border-radius: 40px;
    height: 320px;
    width: 320px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat( 3, 100px);
    grid-template-rows: repeat( 3, 100px);
    place-content: center;
    place-items: center;
}
.box{
    height: 92px;
    width: 92px;
    background-color: var(--charecter-color);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 68px;
    color: black;
    font-family: "mario" ;
}